<template>
  <div class="about">
  	<div class="left">
      <Form/>      
    </div>
    <div class="right">
      <Display/>
    </div>    
  </div>
</template>
<script>
// @ is an alias to /src
import Form from '@/components/Form.vue'
import Display from '@/components/Display.vue'

export default {
  name: 'home',
  components: {
    Form,
    Display
  }
}
</script>
