<template>
  <div id="app">
    <div id="nav">
      <router-link to="/" class="routelink">Home</router-link> |
      <router-link to="/about" class="routelink">About</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
#nav {
  background: black;  
  text-align: center;
  padding: 10px 0px;
  box-shadow: 0 5px 5px lightgrey;
}
.routelink{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.routelink::hover{
  cursor: pointer;
  color: red;
}
</style>
